{% extends "layouts/base.html" %}
{% block body %}
    {% if current_user.is_authenticated %}
        <div class='m0 p2 capitalize clearfix header bg-off-black'>
            <a class='inline-block header__logo left mx2 py2' href="{{ url_for('home.landing') }}">
                {% include "icons/adoptanode_logo.svg" %}
            </a>
            <a class='inline-block link--white right mx2 py2' href="{{ url_for('security.logout') }}">Logout</a>
            <a class='inline-block link--white right mx2 py2' href="{{ url_for('node.new') }}">Adopt a Node</a>
            <a class='inline-block link--white right mx2 py2' href="{{ url_for('node.index') }}">My Nodes</a>
        </div>
    {% else %}
        <div class='m0 p2 capitalize clearfix header bg-off-black'>
            <a class='inline-block header__logo left mx2 py2' href="{{ url_for('home.landing') }}">
                {% include "icons/adoptanode_logo.svg" %}
            </a>
            <a class='inline-block link--white right mx2 py2' href="{{ url_for('security.login') }}">Sign in</a>
            <a class='inline-block link--white right mx2 py2' href="{{ url_for('security.register') }}">Sign up</a>
        </div>
    {% endif %}

    <div class='m0 center body-container'>
        {% include "layouts/_messages.html" %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
