{% extends "layouts/base.html" %}
{% block body %}
    {% if current_user.is_authenticated %}
        <div class='m0 p2 clearfix header bg-off-black'>
            <a class='inline-block capitalize header__logo left mx2' href="{{ url_for('home.landing') }}">
                {% include "icons/adoptanode_logo.svg" %}
            </a>
            <a class='inline-block link--white right mx2 py2' href='/logout'>Logout</a>
            <a class='inline-block link--white right mx2 py2' href="{{ url_for('node.new') }}">Adopt a Node</a>
            <a class='inline-block link--white right mx2 py2' href="{{ url_for('node.index') }}">My Nodes</a>
        </div>
    {% else %}
        <div class='m0 p2 clearfix capitalize header bg-off-black'>
            <a class='inline-block header__logo left mx2' href="{{ url_for('home.landing') }}">
                {% include "icons/adoptanode_logo.svg" %}
            </a>
            <a class='inline-block link--white right mx2 py2' href='/login'>Log in</a>
            <a class='inline-block link--white right mx2 py2' href='/sign_up'>Sign up</a>
        </div>
    {% endif %}

    <div class='m0 center body-container'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class='p1'>{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
{% endblock %}
