<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} | Adopt-a-Node</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% assets "css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% assets "js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </head>

    <body class='open-sans dark-gray drawer drawer--right'>
        {% block body %}{% endblock %}

        <div class='footer'>
            <div class='footer__item right'>
                <a class='link--white' href='https://www.bitcoinunlimited.info/about/contact' target='_blank'>Contact</a>
            </div>
            <div class='footer__item right'>
                <a class='link--white' href='https://www.bitcoinunlimited.info' target='_blank'>Bitcoin Unlimited Website</a>
            </div>
            <div class='footer__item left'>© MIT License. No Rights Reserved.</div>
        </div>
    </body>
</html>
