<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} | Adopt-a-Node</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% assets "css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
    </head>

    <body class='avenir'>
        {% if current_user.is_authenticated %}
            <div class='m0 p2 clearfix header'>
                <a class='inline-block left px1' href="{{ url_for('home.landing') }}">ADOPT A NODE</a>
                <a class='inline-block right px1' href='/logout'>Logout</a>
                <a class='inline-block right px1' href="{{ url_for('node.new') }}">Adopt a Node</a>
                <a class='inline-block right px1' href="{{ url_for('node.index') }}">My Nodes</a>
            </div>
        {% else %}
            <div class='m0 p2 clearfix header'>
                <a class='inline-block left px1' href="{{ url_for('home.landing') }}">ADOPT A NODE</a>
                <a class='inline-block right px1' href='/login'>Log in</a>
                <a class='inline-block right px1' href='/sign_up'>Sign up</a>
            </div>
        {% endif %}


        <div class='m0 center body-container'>
            {% block content %}{% endblock %}
        </div>


        <div class='m0 p2 footer'>
            FOOTER
        </div>
    </body>
</html>
