{% extends "layouts/base_with_header.html" %}

{% block title %}
    Adopt a Node
{% endblock %}

{% block content %}

    <h1>Node {{ node.id }}</h1>

    <form method="POST" action="{{ url_for('node.update', id=node.id)}}">
        {{ form.csrf_token }}
        <div class='py1'> {{ form.bu_ad.label }} {{ form.bu_ad(size=20) }} </div>
        <div class='py1'> {{ form.bu_eb.label }} {{ form.bu_eb(size=20) }} </div>
        <div class='py1'> {{ form.name.label }} {{ form.name(size=20) }} </div>
        <input type="submit" value="Go">
    </form>


{% endblock %}
