{% extends "layouts/base_with_header.html" %}

{% block title %}
    Adopt a Node
{% endblock %}

{% block content %}
    <div class='pt1 pb4 center'>
        <div class='inline-block text-container'>
            <p class='h2 pb2 slate-gray roboto'>Edit Your Node</p>

            {% include "layouts/_messages.html" %}

            <form method="POST" action="{{ url_for('node.update', id=node.id)}}" class='pt1 pb3 left-align'>
                {{ form.csrf_token }}

                <div class='capitalize bold pt2 pb1'> {{ form.bu_eb.label }} </div>
                <div class='form__container'>
                    <div class='form__input-container'>
                        {{ form.bu_eb(size=20, class_='form__input width-90') }}
                    </div>
                    <div class='form__description'>
                        <p class='my0 pb1 lh-copy'>EB is the maximum block size, in MB, that a "relay node" will accept.</p>
                        <a class='block' href='https://www.bitcoinunlimited.info/faq/what-is-bu' target='_blank'>Learn more.</a>
                    </div>
                </div>

                <div class='capitalize bold pt4 pb1'> {{ form.bu_ad.label }} </div>
                <div class='form__container'>
                    <div class='form__input-container'>
                        {{ form.bu_ad(size=20, class_='form__input width-90') }}
                    </div>
                    <div class='form__description'>
                        <p class='my0 pb1 lh-copy'>AD is the block count at which you will accept the longest chain as valid if it exceeds your EB.</p>
                        <a class='block' href='https://www.bitcoinunlimited.info/faq/what-is-bu' target='_blank'>Learn more.</a>
                    </div>
                </div>

                <div class='capitalize bold pt4 pb1'>
                    {{ form.name.label }}
                </div>
                <div class='form__container'>
                    <div class='form__input-container'>
                        {{ form.name(size=20, class_='form__input width-90', placeholder='e.g. John') }}
                    </div>
                    <div class='form__description'>
                        <p class='mt0 lh-copy'>This name will be appended to your node’s user agent string, and will be visible on the Bitcoin network. Please use only alphanumeric or underscore characters, and keep to less than 12 in length.</p>
                    </div>
                </div>

                <div class='capitalize bold pt4 pb1'> Cloud Provider <div class='inline-block regular small slate-gray'>(fixed)</div> </div>
                <div class='form__container'>
                    <div class='form__input-container'>
                        <div class='form__input--inactive'> {{ node.provider }} </div>
                    </div>
                    <div class='form__description'>
                        <p class='mt0 lh-copy'>The cloud provider where you adopted the node. This cannot be changed.</p>
                    </div>
                </div>

                <div class='capitalize bold pt4 pb1 form__label'> Expiry date <div class='inline-block regular small slate-gray'>(fixed)</div> </div>
                <div class='form__container'>
                    <div class='form__input-container'>
                        <div class='form__input--inactive'> {{ node.expiration_date }} </div>
                    </div>
                    <div class='form__description'>
                        <p class='mt0 lh-copy'>We cannot process extensions at the moment, please adopt a new node if you would like to continue.</p>
                    </div>
                </div>

                <input type="submit" class='button--secondary width-45 mt4 capitalize' value="Update node">
            </form>


        </div>
    </div>
{% endblock %}
