{% extends "layouts/base_with_header.html" %}
{% block title %}My Nodes{% endblock %}
{% block content %}
    <div class='pt1 pb3 center'>
        <p class='h2 pb2 slate-gray roboto'>My Nodes</p>

        {% include "layouts/_messages.html" %}

        {% if serialized_nodes %}
            <div class='p2 overflow-x--auto'>
                <table class='inline-block table__nodes'>
                    <thead>
                        <tr>
                            <th class='p1 px3'> Node </th>
                            <th class='p1 px3'> Name </th>
                            <th class='p1 px3'> EB </th>
                            <th class='p1 px3'> AD </th>
                            <th class='p1 px3'> Launched At </th>
                            <th class='p1 px3'> Expires At </th>
                            <th class='p1 px3'> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for node in serialized_nodes %}
                            <tr>
                                <td class='p1 px3'>
                                    {% if node.info()['link'] %}
                                        <a href="{{ node.info()['link'] }}" target='_blank'>
                                            {{ node.info()['message'] }}
                                        </a>
                                    {% else %}
                                        {{ node.info()['message'] }}
                                    {% endif %}
                                </td>
                                <td class='p1 px3'> {{ node.name() }} </td>
                                <td class='p1 px3'> {{ node.eb() }} </td>
                                <td class='p1 px3'> {{ node.ad() }} </td>
                                <td class='p1 px3'> {{ node.launched_at() }} </td>
                                <td class='p1 px3'> {{ node.expires_at() }} </td>
                                <td class='p1 px3 capitalize table__button-container'>
                                    {% if node.should_show_details_button() %}
                                        <a href="{{ url_for('node.edit', id=node.node_id()) }}" class='table__button small p1'>view / edit</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class='py2'>You haven't adopted any nodes yet.</p>
        {% endif %}

        <br /><br />
        <div class='pb4'>
            <p class='pt1 pb3'>Want to adopt a node?</p>
            <a class='button--secondary' href="{{ url_for('node.new') }}">Adopt a node</a>
        </div>


    </div>
{% endblock %}
