
config = {
    'development': {
        'db': {
            'username': 'dev',
            'password': 'asdfasdf',
            'host': 'localhost',
            'port': '5432',
            'database': 'adoptanode_development'
        }
    }
}

SECRET_KEY = 'asdf12345678'
SQLALCHEMY_DATABASE_URI = 'postgresql://dev:asdfasdf@localhost:5432/adoptanode_development'

# flask_security configurations. Docs: https://pythonhosted.org/Flask-Security/configuration.html
SECURITY_PASSWORD_HASH = 'bcrypt'
SECURITY_PASSWORD_SALT = 'asdf12345678'

DIGITAL_OCEAN_ACCESS_TOKEN = 'token'

OS_USER = 'bob'

CELERY_BROKER_REDDIS_URL = 'url'

CELERY_BROKER_URL = 'url'
CELERY_RESULT_BACKEND = 'url'

SSH_PRIVATE_KEY_FILE = '/home/id_rsa'
SSH_PRIVATE_KEY_PASSWORD = 'password'
