{% macro render_field_with_errors(field) %}
    <div class='pb3'>
        <div class='capitalize bold pb1'> {{ field.label }} </div>
        <div> {{ field(class='form__input width-100', **kwargs)|safe }} </div>
        {% if field.errors %}
            {% for error in field.errors %}
                <p class='punch'>{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro render_field(field) %}
  <p>{{ field(class='form__input', **kwargs)|safe }}</p>
{% endmacro %}
