{% extends "layouts/base_with_header.html" %}
{% block content %}

    {% from "security/_macros.html" import render_field_with_errors, render_field %}

    <div class='pt1 pb4 center'>
        <div class='inline-block text-container--small'>

            <p class='h2 pb2 slate-gray roboto'>Sign in</p>

            {% include "layouts/_messages.html" %}

            <p class='pt1 pb3'>
                Don't have an account yet?
                <a class='bold' href="{{ url_for('security.register') }}">Sign up</a>.
            </p>

            <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" class='left-align pt1 pb3'>

                {{ login_user_form.hidden_tag() }}
                {{ render_field_with_errors(login_user_form.email) }}
                {{ render_field_with_errors(login_user_form.password) }}

                <div class='pb2'>
                    <div class='inline capitalize bold pr2 align-middle'> {{ login_user_form.remember.label }} </div>
                    {{ login_user_form.remember()|safe }}
                </div>

                {{ render_field(login_user_form.next) }}
                {{ login_user_form.submit(class='button--secondary width-100')|safe }}

            </form>

            <a href="{{ url_for_security('forgot_password') }}" class='block pb3 bold'>Forgot password</a>

        </div>
    </div>

{% endblock %}
