{% extends "layouts/base_with_header.html" %}
{% block content %}

    {% from "security/_macros.html" import render_field_with_errors, render_field %}

    <div class='pt1 pb4 center'>
        <div class='inline-block text-container--small'>

            <p class='h2 pb2 slate-gray roboto'>Reset Password</p>

            {% include "layouts/_messages.html" %}

            <form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form" class='left-align pt1 pb4'>
                {{ reset_password_form.hidden_tag() }}
                {{ render_field_with_errors(reset_password_form.password) }}
                {{ render_field_with_errors(reset_password_form.password_confirm) }}
                {{ reset_password_form.submit(class='button--secondary width-100')|safe }}
            </form>

        </div>
    </div>
{% endblock %}
