
$off-black = #222222
$dark-gray = #4d4d4d
$porcelain = #F7F8F9
$slate-gray = #6b7c93
$curious-blue = #1e91d6
$punch = #DD3539

.bg-off-black
    background-color: $off-black

.bg-porcelain
    background-color: $porcelain

.slate-gray
    color: $slate-gray

.dark-gray
    color: $dark-gray

.punch
    color: $punch

.white
    color: white
