@font-face
    font-family: 'RobotoMono'
    src: url('/static/fonts/RobotoMono-Regular.ttf') format('truetype')
    font-weight: normal

@font-face
    font-family: 'RobotoMono'
    src: url('/static/fonts/RobotoMono-Bold.ttf') format('truetype')
    font-weight: bold

@font-face
    font-family: 'OpenSans'
    src: url('/static/fonts/OpenSans-Regular.ttf') format('truetype')
    font-weight: normal

@font-face
    font-family: 'OpenSans'
    src: url('/static/fonts/OpenSans-Bold.ttf') format('truetype')
    font-weight: bold
