
.header
    box-sizing: border-box
    color: white
    height: 82px

.header__logo
    padding-top: 10px
    padding-bottom: 10px

.header__icon
    height: 34px

.header--web
    display: block

.header--mobile
    display: none

.drawer-hamburger
    padding-top: 28px

.drawer-hamburger-icon
    background-color: white

    &:after, &:before
        background-color: white

@media (max-width: 740px)
    .header--web
        display: none

    .header--mobile
        display: block
