
.landing-hero
    background-image: url('/static/img/hero.png')
    background-size: cover
    height: 620px
    color: white

.why__container
    display: flex
    flex-direction: row
    justify-content: space-between

.why__title
    flex-basis: 35%

.why__body
    flex-basis: 60%

.why-title__container
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center

.why-title__logo
    flex-basis: 20%
    margin-right: 5%

.why-title__title
    flex-basis: 75%


.how__container
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

.how__icon
    flex-basis: 10%
    margin: 5%

.how__body
    flex-basis: 60%


@media (max-width: 640px)
    .why__container, .how__container
        display: block
        text-align: center

        .lh-copy
            text-align: left

    .why__title
        display: block
        padding-bottom: 14px

    .why__body
        text-align: left

    .why-title__logo
        padding-bottom: 5px
