
.landing-hero
    background-image: url('/static/img/hero.png')
    background-size: cover
    height: 620px
    color: white

.text-container
    max-width: 650px
    width: 80%

.text-container--large
    max-width: 800px
    width: 80%


.why__flex-container
    display: flex
    flex-direction: row
    justify-content: space-between

.why__flex-title
    flex-basis: 35%

.why__flex-body
    flex-basis: 60%

.why-title__flex-container
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center

.why-title__flex-logo
    flex-basis: 20%

.why-title__flex-title
    flex-basis: 75%


.how__flex-container
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

.how__flex-icon
    flex-basis: 10%
    margin: 5%

.how__flex-body
    flex-basis: 60%
