
.form__flex-container
    display: flex
    flex-direction: row
    justify-content: center
    align-items: flex-start

.form__flex-input
    flex-basis: 50%

.form__flex-description
    flex-basis: 50%

.form__input
    height: 40px
    width: 90%
    padding: 5px 10px
    box-sizing: border-box
    border: none
    border-radius: 3px
    background-color: #F4F6F7

    &:active
        border: solid 2px #1e91d6
        box-shadow: none
        outline: none

    &:focus
        border: solid 2px #1e91d6
        box-shadow: none
        outline: none

.form__label
    width: 45%
    min-width: 200px
