
@import 'colors.styl'

.table__nodes
    border-radius: 3px
    border: solid 1px lighten($dark-gray, 70%)

    thead
        background-color: $porcelain
        border: none

    tr
        height: 80px

.table__button
    background-color: #1e91d6
    text-decoration: none
    color: white
    border-radius: 3px;
    border: none
    padding: 10px 15px
    cursor: pointer

.table__button-container
    min-width: 100px
