
@import 'colors.styl'

.capitalize
    text-transform: uppercase

.roboto
    font-family: 'RobotoMono'

.open-sans
    font-family: 'OpenSans'

.h1
    font-size: 32px

.h2
    font-size: 22px

.h3
    font-size: 18px

.small
    font-size: 12px

.lh-copy
    line-height: 1.6

.separator
    border-bottom: solid 1px lighten($dark-gray, 80%)

.width-90
    width: 90%

.width-100
    width: 100%
