{% extends "layouts/base_with_header.html" %}

{% block title %}
    Confirmation
{% endblock %}

{% block content %}
    <div class='pt1 pb4 center'>
        <div class='inline-block text-container'>
            <p class='h2 pb2 slate-gray roboto'>Confirmation</p>

            <div class='left-align lh-copy'>
                <p class='pb1'>
                    Your node will be provisioned after 6 block confirmations on your Bitcoin payment.
                </p>

                <p class='pb1'>
                    You can view its status and modify its AD, EB, or name on your <a href="{{ url_for('node.index') }}">My Nodes</a> page.
                </p>

                <p class='pb1'>
                    Thank you for contributing to the Bitcoin network!
                </p>
            </div>


        </div>
    </div>
{% endblock %}
